[Desktop Entry]
Type=Application
Name=Linux HW Monitor
Comment=Complete hardware monitor for Linux
Exec=linux-hw-monitor
Icon=io.github.vitao_al.linux-hw-monitor
Terminal=false
Categories=System;Monitor;
StartupNotify=true
