<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE policyconfig PUBLIC "-//freedesktop//DTD PolicyKit Policy Configuration 1.0//EN"
 "http://www.freedesktop.org/standards/PolicyKit/1/policyconfig.dtd">
<policyconfig>
  <vendor>LinuxHWMonitor</vendor>
  <vendor_url>https://github.com/usuario/linux-hw-monitor</vendor_url>
  <action id="io.github.usuario.LinuxHWMonitor.helper.exec">
    <description>Run LinuxHWMonitor privileged helper</description>
    <message>Authentication is required to read SMART and DMI data.</message>
    <defaults>
      <allow_any>no</allow_any>
      <allow_inactive>auth_admin</allow_inactive>
      <allow_active>auth_admin_keep</allow_active>
    </defaults>
  </action>
</policyconfig>
